body {background-color: rgb(40, 40, 40);}
#titulo {color: lightblue; font-size: 45px; font-family:Georgia, 'Times New Roman', Times, serif; text-align: center; text-decoration: underline; margin-left: 750px;}
#div {background-color: rgb(10, 10, 10); border-radius: 40px; border-color: white; border-width: 3px; border-style: solid;}
#texto1 {font-family: Verdana, Geneva, Tahoma, sans-serif; color: white; font-size: 15px; padding: 35px}
#texto2 {color: lightblue;}
#texto3 {font-family: Verdana, Geneva, Tahoma, sans-serif; color: white; font-size: 15px; text-align: center;}
#imagen {width: 850px; height: 500px; position: absolute; top: 210px; left: 750px}
#imagen2 {width: 100px; height: 100px; position: absolute; top: 40px; left: 350px}
#lista {margin-top: 125px;}
#linea1 {height: 840px; width: 0px; position: absolute; top: 20px; left: 450px; border-color: white; border-width: 3px;}
#linea2 {border-color: white; border-width: 3px;}


a:hover {font-weight: bold; margin-left: 15px;}
a:link {font-family: Verdana, Geneva, Tahoma, sans-serif; color: white; font-size: 20px; padding: 35px; text-decoration: unset;}
a:visited {font-family: Verdana, Geneva, Tahoma, sans-serif; color: white; font-size: 20px; padding: 35px; text-decoration: unset;}




#iframe {
    width: 1455px; height: 843px; position: absolute; top: 26px; left: 450px;
    border-top-right-radius: 40px; border-color: white; border-width: 3px; border-style: solid;
}
#paginaActual { font-family: Verdana, Geneva, Tahoma, sans-serif; color: white; font-size: 20px; padding: 35px; text-decoration: underline; margin-left: 15px; background-color: rgb(40, 40, 40);}
