body {background-color: rgb(30, 30, 30);}
#div {background-color: rgb(10, 10, 10);}
#titulo1 {font-size: 60px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: lightblue; font-weight: bold; text-decoration: underline; padding: 40px;}
#titulo2 {font-size: 45px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: lightblue; font-weight: bold; text-decoration: underline; padding: 40px; text-align: center;}
#texto1 {font-size: 20px; color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;}
#texto2 {font-size: 25px; color: #33A2FF; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;}
#texto3 {font-size: 17px; color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;}
#flecha {width: 80px; height: 80px; position: absolute; right: 10px;}
#elemento {width: 50px}
img  {width: 220px}
table {text-align: center;}

a:link {text-decoration: unset; color: lightblue;}
a:visited {text-decoration: unset; color: lightblue;}